* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*CSS VARIABLES*/
body, html {
  min-height: 100vh;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1.3fr .7fr;
      grid-template-columns: 1.3fr .7fr;
  width: 100%;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#0BBFA7), to(#4200F6));
  background: linear-gradient(to right, #0BBFA7, #4200F6);
  -webkit-background-clip: text;
}

.page-one {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svg-shape {
  position: absolute;
  bottom: 0;
}

.test {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  width: 70%;
  -webkit-box-shadow: 0px 0px 5px grey;
          box-shadow: 0px 0px 5px grey;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.test .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.test .question h2 {
  margin-bottom: 50px;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.test .question span {
  width: 50%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.test .question .odpoved {
  cursor: pointer;
  margin-right: 10px;
}

.test .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-family: "Anton", sans-serif;
  font-size: 30px;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.modal .data {
  text-align: center;
  width: 90%;
}

.modal .data span {
  font-family: "Anton", sans-serif;
  font-size: 25px;
  margin-bottom: 40px !important;
  line-height: 40px;
}

.btn-clasic {
  width: 150px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#0BBFA7), to(#4200F6));
  background: linear-gradient(to right, #0BBFA7, #4200F6);
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.308);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 5px 5px 5px #bbbbbb;
          box-shadow: 5px 5px 5px #bbbbbb;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  text-decoration: none;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
}

.btn-clasic:hover {
  letter-spacing: .5px;
}

@media (max-width: 500px) {
  .container {
    min-height: 100vh;
  }
  .logo {
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  .test {
    height: 100vh;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .7fr 1.3fr;
        grid-template-rows: .7fr 1.3fr;
  }
  .test .image {
    background-size: cover;
  }
  .test .question {
    width: 100%;
  }
  .test .question h2 {
    margin-bottom: 10px;
  }
  .test .question span {
    width: 80%;
  }
  .btn-clasic {
    bottom: 10px;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 0px !important;
            box-shadow: 0px 0px 0px !important;
    border: solid 1px white;
  }
  .modal {
    height: 100%;
    width: 100%;
    z-index: 3;
  }
}
/*# sourceMappingURL=test.css.map */